@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

@font-face {
    font-family: 'edoregular';
    src: url('../../Assets/web\ fonts/edo_regular_macroman/edo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1.main-title {
    margin: auto;
    padding: 40px 30px 20px;
    text-align: center;
    font-family: 'edoregular', 'Cinzel', cursive;
    font-size: 140px;
    font-weight: normal;
    color: #aaa;
}

/* PERSPECTIVE IMAGE */

.section__tilt {
    transform: translateY(40px);
    transform-style: preserve-3d;
    cursor: pointer;
}

.skeleton {
    height: 380px;
    margin: auto;
}

/* TitleLoading */

.title-loading__wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #050505;
}

.loading-title {
    font-family: 'edoregular', 'Cinzel', cursive;
    font-size: 160px;
    color: #050505;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-title .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    overflow: hidden;
    color: #eee;
    transition: all 0.5s 0.5s ease;
}

/* MENUIMAGE */

.menuImage {
    width: 550px;
    position: relative;
    border: 7px white solid;
    transition: all 0.3s ease;
    overflow: hidden;
}

.menuImage:hover {
    cursor: pointer;
}

/* TILTED IMAGES */
.menuImage__title--macros,
.menuImage__title--portraits,
.menuImage__title--graphistes {
    position: absolute;
    width: 700px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(160px);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-shadow: rgba(255,255,255,0.3) 0px 0 10px;
}

.menuImage__title--macros {
    font-family: 'Megrim', cursive;
    font-weight: 900;
    font-size: 55px;
}
.menuImage__title--portraits {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 500;
    font-size: 45px;
}
.menuImage__title--graphistes {
    font-family: 'Overlock SC', cursive;
    font-weight: lighter;
    font-size: 45px;
}

.tilted--macros:hover .menuImage__title--macros {
    opacity: 1;
}

.tilted--portraits:hover .menuImage__title--portraits {
    opacity: 1;
}

.tilted--graphistes:hover .menuImage__title--graphistes {
    opacity: 1;
}

/* ICONS */

.menuImage__icon {
    position: fixed;
    top: -50%;
    right: 50%;
    transform: translateX(50%);
    width: 20%;
    filter: invert(100%);
}

/* ANIMATIONS */
.menuImage__macros {
    position: absolute;
    top: 8%;
    left: 4%;
}
.menuImage__portraits {
    position: absolute;
    top: 20%;
    left: 60%;
}
.menuImage__graphistes {
    position: absolute;
    top: 65%;
    left: 35%;
}


.slideDown__macros {
    animation: slide-in-bck-center-macros 0.6s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slideDown__portraits {
    animation: slide-in-bck-center-portraits 0.6s 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slideDown__graphistes {
    animation: slide-in-bck-center-graphistes 0.6s 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}



/* ----------------------------------------------
 * Generated by Animista on 2021-1-12 17:34:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */

@keyframes slide-in-bck-center-macros {
    0% {
        transform-origin: center;
        transform: perspective(700px) translateZ(600px) rotate(0);
        opacity: 0;
    }
    100% {
        transform-origin: center;
        transform: perspective(700px) translateZ(0) rotate(-10deg);
        opacity: 0.95;
    }
}
@keyframes slide-in-bck-center-portraits {
    0% {
        transform-origin: center;
        transform: perspective(700px) translateZ(600px) rotate(0);
        opacity: 0;
    }
    100% {
        transform-origin: center;
        transform: perspective(700px) translateZ(0) rotate(4deg);
        opacity: 0.95;
    }
}
@keyframes slide-in-bck-center-graphistes {
    0% {
        transform-origin: center;
        transform: perspective(700px) translateZ(600px) rotate(0);
        opacity: 0;
    }
    100% {
        transform-origin: center;
        transform: perspective(700px) translateZ(0) rotate(-2deg);
        opacity: 0.95;
    }
}

/* SECTION */

.section-title {
    font-size: 80px;
    text-align: center;
    font-family: Gabriola, -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

.section__macros-title {
    font-family: 'Megrim', cursive;
    font-weight: 900;
    font-size: 55px;
}
.section__portraits-title {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 500;
    font-size: 45px;
}
.section__graphistes-title {
     font-family: 'Overlock SC', cursive;
    font-weight: 500;
    font-size: 50px;
}

.section-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 10em;
    font-size: 28px;
    line-height: 1.4em;
    font-weight: 500;
    font-family: Gabriola, -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

.section__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 75vw;
    margin: auto;
    border: 8px solid #fff;
    background-color: #ccc;
}

.section__icon {
    position: relative;
    filter: invert(50%);

    width: 90px;
    height: 90px;
}