@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@font-face {
    font-family: 'edoregular';
    src: url('../../Assets/web\ fonts/edo_regular_macroman/edo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1.main-title {
    margin: auto;
    padding: 40px 30px 20px;
    text-align: center;
    font-family: 'edoregular', 'Cinzel', cursive;
    font-size: 140px;
    color: #aaa;
}

.sections__box {
    margin-top: 50px;
    padding-bottom: 80px;
}

/*  GENERAL */

.section-title {
    font-size: 80px;
    margin-bottom: 50px;
    text-align: center;
    font-family: Gabriola, -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

.section-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    line-height: 1.4em;
    font-weight: 500;
    font-family: Gabriola, -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

.section__container {
    border: 30px solid #fff;
    background-color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: auto;
    padding: 60px 0;
    margin-bottom: 80px;
    transition: all 0.3s ease-in-out;
}

.section__container:hover {
    width: 90%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

/* MACROS SECTION */
.macros {
    display: flex;
    flex-direction: row;
}

.macros-container-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.macros-container-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.macros-text {
    text-align: justify;
    width: 550px;
}

/* STUDIO PORTRATIS SECTION */
.portraits {
    display: flex;
    flex-direction: row-reverse;
}

.portraits-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.portraits-container-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
}

.portraits-text {
    text-align: justify;
    width: 550px;
}

/* AU CAFE DES GRAPHISTES SECTION */
.graphistes {
    display: flex;
    flex-direction: row;
}

.graphistes-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.graphistes-container-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.graphistes-text {
    text-align: justify;
    width: 550px;
}

/* PERSPECTIVE IMAGE */

.section__tilt {
    transform: translateY(40px);
    cursor: pointer;
}

.section__image {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.skeleton {
    height: 380px;
    margin: auto;
}

/* SlideGALLERY */

.slideGallery__placeholder {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #000;
}

.loading-title {
    font-family: 'edoregular', 'Cinzel', cursive;
    font-size: 160px;
    color: #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-title .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    overflow: hidden;
     color: #eee;
}

.slideGallery {
    height: 100vh;
}

.slideGallery__img {
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

.animated-scroll {
    position: absolute;
    left: 50%;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: autoSlidePictures 10s ease-in;
    animation-fill-mode: forwards;
}

@keyframes autoSlidePictures {
    0% {
        left: 50%;
        top: -1000%;
        transform: scale(1) translateX(-50%);
    }
    100% {
        left: 50%;
        top: 1500%;
        transform: translateX(-50%) scale(1.7);
        visibility: hidden;
    }
}
