@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@font-face {
    font-family: 'edoregular';
    src: url('../../Assets/web\ fonts/edo_regular_macroman/edo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1.main-title {
    margin: auto;
    padding: 40px 30px 20px;
    text-align: center;
    font-family: 'edoregular', 'Cinzel', cursive;
    font-size: 140px;
    font-weight: normal;
    color: #aaa;
}

.sections__box {
    margin-top: 50px;
    padding-bottom: 80px;
}

/*  GENERAL */

.section-title {
    font-size: 80px;
    margin-bottom: 50px;
    text-align: center;
    font-family: Gabriola, -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

.section-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    line-height: 1.4em;
    font-weight: 500;
    font-family: Gabriola, -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

.section__container {
    border: 30px solid #fff;
    background-color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: auto;
    padding: 60px 0;
    margin-bottom: 80px;
    transition: all 0.3s ease-in-out;
}

.section__container:hover {
    width: 90%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

/* MACROS SECTION */
.macros {
    display: flex;
    flex-direction: row;
}

.macros-container-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.macros-container-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.macros-text {
    text-align: justify;
    width: 550px;
}

/* STUDIO PORTRATIS SECTION */
.portraits {
    display: flex;
    flex-direction: row-reverse;
}

.portraits-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.portraits-container-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
}

.portraits-text {
    text-align: justify;
    width: 550px;
}

/* AU CAFE DES GRAPHISTES SECTION */
.graphistes {
    display: flex;
    flex-direction: row;
}

.graphistes-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.graphistes-container-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.graphistes-text {
    text-align: justify;
    width: 550px;
}

/* PERSPECTIVE IMAGE */

.section__tilt {
    transform: translateY(40px);
    cursor: pointer;
}

.section__image {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.skeleton {
    height: 380px;
    margin: auto;
}

/* TitleLoading */

.title-loading__wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.loading-title {
    font-family: 'edoregular', 'Cinzel', cursive;
    font-size: 160px;
    color: #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-title .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    overflow: hidden;
    color: #eee;
    transition: all 0.5s 0.5s ease;
}

/* MENUIMAGE */

.menuImage {
    width: 550px;
    border: 7px white solid;
    transition: all 0.3s ease;

}

.menuImage__macros {
    position: absolute;
    top: 8%;
    left: 4%;
    /* transform-origin: center;
    transform: perspective(700px) translateZ(0) rotate(-15deg);
    opacity: 0.7; */
    transition: all 0.3s ease;
    animation: slide-in-bck-center-macros 1.1s 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.menuImage:hover {
    cursor: pointer;
    animation: hover-anim 0.4s both;

}

.menuImage__portraits {
    position: absolute;
    top: 20%;
    left: 60%;
    animation: slide-in-bck-center-portraits 1.1s 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.menuImage__graphistes {
    position: absolute;
    top: 65%;
    left: 35%;
    animation: slide-in-bck-center-graphistes 1.1s 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-12 17:34:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */

@keyframes slide-in-bck-center-macros {
    0% {
        transform-origin: center;
        transform: perspective(700px) translateZ(600px) rotate(0);
        opacity: 0;
    }
    100% {
        transform-origin: center;
        transform: perspective(700px) translateZ(0) rotate(-15deg);
        opacity: 0.9;
    }
}
@keyframes slide-in-bck-center-portraits {
    0% {
        transform-origin: center;
        transform: perspective(700px) translateZ(600px) rotate(0);
        opacity: 0;
    }
    100% {
        transform-origin: center;
        transform: perspective(700px) translateZ(0) rotate(4deg);
        opacity: 0.9;
    }
}
@keyframes slide-in-bck-center-graphistes {
    0% {
        transform-origin: center;
        transform: perspective(700px) translateZ(600px) rotate(0);
        opacity: 0;
    }
    100% {
        transform-origin: center;
        transform: perspective(700px) translateZ(0) rotate(-2deg);
        opacity: 0.9;
    }
}

/* HOVER MACRO */
@keyframes hover-anim {
    0% {
        opacity: 1;
        transform: perspective(700px) translateZ(0);
    }
    100% {
        transform: perspective(700px) translateZ(20px);
        opacity: 1;
    }
}
