/*  GENERAL */

.section-title {
    font-size: 68px;
    text-align: center;
}

.section-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

/* MACROS SECTION */
.macros {
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;
}

.macros-container-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.macros-container-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.macros-text {
    text-align: justify;
    width: 550px;
}

/* STUDIO PORTRATIS SECTION */
.portraits {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 200px;
}

.portraits-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.portraits-container-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
}

.portraits-text {
    text-align: justify;
    width: 550px;
}

/* AU CAFE DES GRAPHISTES SECTION */
.graphistes {
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;
}

.graphistes-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.graphistes-container-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.graphistes-text {
    text-align: justify;
    width: 550px;
}
