.ScrollZone {
    overflow-y: auto;
}

.adminpanel__container {
    margin: 80px auto 300px;
    width: 80%;
}

.adminpanel__bloctab {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}
.adminpanel__tab {
    border: 1px solid gray;
    padding: 5px 15px;
}

.inactive {
    background: #aaa;
}

.adminpanel__display {
    margin: auto;
    margin-bottom: 100px;
    border: 1px solid gray;
}

.adminPanel__title {
    text-align: center;
}

.adminPanel__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
}
