/* NAV */
.nav__sectionIcon--wrapper{
    position: fixed;
    display: flex;
    top: 20px;
    flex-direction: row;
    justify-items: start;
    align-items: flex-start;
    z-index: 10;
    width: 17%;
    max-width: 275px;
}

.nav__sectionIcon{
    height: 65px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.nav__sectionIcon:hover{
    transform: scale(1.2);
}

.nav__sectionIcon--active{
    filter:invert(75%) drop-shadow(0 0 4px rgba(0,0,0,1));

}
.nav__sectionIcon--inactive{
    filter:drop-shadow(0 0 4px rgba(200,200,200,0.2));
}

.nav__close-btn{
    position: absolute;
    height: 65px;
    cursor: pointer;
    transition: all 0.4s ease;
    right: 10px;
    top: 10px;
}

.nav__close-btn:hover{
    transform: scale(1.1);
    filter: invert(50);
}

/* TITLE */
.gallery__title {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
    text-shadow: 0 0 10px rgba(200, 200, 200, 0.3);
}

.gallery__title--macros {
    font-family: 'Megrim', cursive;
}
.gallery__title--portraits {
    font-family: 'Cinzel Decorative', cursive;
}
.gallery__title--graphistes {
    font-family: 'Overlock SC', cursive;
}

.gradient-wrapper {
    top: 0;
    bottom: 0;
    padding-top: 60px;
    /* v Calcul de la taille en fonction du padding top v */
    height: calc(100vh - 60px);
    overflow-y: hidden;
    transition: background-color 1s ease;
}

#currentPicture {
    display: flex;
    padding: 50px 0 50px;
    width: 90%;
    height: 900px;
    margin: auto;
    object-fit: contain;
    filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.7));
}

.currentPicture__wrapper{
    position: relative;
}

.HD-link{
    position: absolute;
    top: 0px;
    right: 130px;
    text-decoration: none;
    color: lightgray;
    font-family: system-ui;
    font-weight: bolder;
    font-size: 25px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 0px 10px;
    background:slategray;
    opacity: 0.2;
    transform: rotate(10deg);
    transition: all 0.3s ease
}

.HD-link:hover{
cursor: pointer;
transform: rotate(0deg);
opacity: 1;
}

.gallery__btn {
    position: fixed;
    width: 70px;
    height: 50%;
    transform: translateY(50%);
    border: none;
    outline: none;
    opacity: 0.2;
    background-color: transparent;
    transition: all 0.3s ease;
}

.gallery__btn:hover {
    opacity: 0.4;
    transition: all 0.3s ease;
}

.gallery__btn--prev {
    top: 0;
    left: 0;
}

.gallery__btn--next {
    top: 0;
    right: 0;
}

.slider__container {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    cursor: grab;
    width: 85vh;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 15%,
        rgba(0, 0, 0, 1) 85%,
        rgba(0, 0, 0, 0)
    );
    opacity: 0.02;
    transition: all 0.4s 0.5s ease;
}

.slider__container:active {
    cursor: grabbing;
}

.slider__container:hover {
    opacity: 0.9;
    transition: all 0.4s ease;
}

.slider__picture {
    object-fit: cover;
    width: 250px;
    width: 200px;
}
